In [2]:
import sqlite3
conn = sqlite3.connect("factbook.db")

In [3]:
# conn.execute("") 
cursor = conn.cursor()

In [12]:
schema = cursor.execute("PRAGMA table_info(facts);").fetchall()

In [13]:
for i in schema:
    print(i)

(0, 'id', 'INTEGER', 1, None, 1)
(1, 'code', 'varchar(255)', 1, None, 0)
(2, 'name', 'varchar(255)', 1, None, 0)
(3, 'area', 'integer', 0, None, 0)
(4, 'area_land', 'integer', 0, None, 0)
(5, 'area_water', 'integer', 0, None, 0)
(6, 'population', 'integer', 0, None, 0)
(7, 'population_growth', 'float', 0, None, 0)
(8, 'birth_rate', 'float', 0, None, 0)
(9, 'death_rate', 'float', 0, None, 0)
(10, 'migration_rate', 'float', 0, None, 0)
(11, 'created_at', 'datetime', 0, None, 0)
(12, 'updated_at', 'datetime', 0, None, 0)

In [14]:
cursor.execute("EXPLAIN QUERY PLAN SELECT \
* FROM facts WHERE area > 4000;").fetchall()

[(0, 0, 0, 'SCAN TABLE facts')]

In [16]:
cursor.execute("EXPLAIN QUERY PLAN SELECT \
area FROM facts WHERE area > 4000;").fetchall()

[(0, 0, 0, 'SCAN TABLE facts')]

In [19]:
cursor.execute("EXPLAIN QUERY PLAN SELECT \
* FROM facts WHERE name = 'Czech Republic';").fetchall()

[(0, 0, 0, 'SCAN TABLE facts')]

In [20]:
conn.execute("EXPLAIN QUERY PLAN SELECT \
* FROM facts WHERE name = 'Czech Republic';").fetchall()

[(0, 0, 0, 'SCAN TABLE facts')]

In [21]:
conn.execute("EXPLAIN QUERY PLAN SELECT * \
FROM facts WHERE id = 20;").fetchall()

[(0, 0, 0, 'SEARCH TABLE facts USING INTEGER PRIMARY KEY (rowid=?)')]